- if user_signed_in?
  - if @profile.user == current_user
    %p#official-m You are Editing your Profile Information:
    .form-style-send-post3-m
      = simple_form_for @profile do |f|
        %h1= f.input :line2, label: "Change Your Name:", :input_html => {class: 'login3-m'}
        %h1= f.input :line3, label: "Boy or Girl:", :input_html => {class: 'login3-m'}
        %h1= f.input :line11, label: "Add Your Address or Location:", :input_html => {class: 'login3-m'}
        %h1= f.input :line12, label: "Which Games do you Play:", :input_html => {class: 'login3-m'}
        %h1= f.input :line13, label: "Your In-Game names & ID numbers:", :input_html => {class: 'login3-m'}
        %h1= f.input :line14, label: "Your Games Statistics:", :input_html => {class: 'login3-m'}
        %h1= f.input :line15, label: "Other Social Media details:", :input_html => {class: 'login3-m'}
        = submit_tag "Change Now", name: nil, class: "button-m2"

  - else
    %h1 We're Sorry but This Page doesn't exist.
