- if user_signed_in?
  %p#intro2-m
    #{current_user.profile.line2}, You're logged in.
    %br/
  %p#intro2-m
    Search Girls and Boys around you who play your favourite games that you Play. Just Type the location & game name you want to search.
  %form{:action => search_path, :method => "get", class: "wrapper-search", role: "search" }
    %p
      = text_field_tag :search, params[:search], class: "search-m", placeholder: "Type Search location name & Games you play & press enter."
    %br/
  %p#official-m
    Search Game Examples: PUBG Mobile, Pubg Mobile Lite, Free Fire, COD Mobile etc.(Any Game you want)
    Search Game Examples: Rajiv Chowk, New Delhi, India etc. (Search Any Place you want)
    %br/
  %p#official-m
    = link_to "Go to your Profile", current_user.profile
    %br/
  %p#official-m
    = link_to "See Received & Sent Messages", current_user
    %br/
  %p#official-m
    = link_to "Edit Your Email or Password", edit_user_registration_path
    %br/

- else
  %p#instavoto-m
    Search Girls and Boys around you who play your favourite games that you Play. Just Type the location & game name you want to search.
  %form{:action => search_path, :method => "get", class: "wrapper-search", role: "search" }
    %p
      = text_field_tag :search, params[:search], class: "search-m", placeholder: "Type Search location name & Games you play & press enter."
    %br/
  %p#official-m
    Search Game Examples: PUBG Mobile, Pubg Mobile Lite, Free Fire, COD Mobile etc.(Any Game you want)
    %br/
  %p#official-m
    Search Location Examples: Rajiv Chowk, New Delhi, India etc. (Search Any Place you want)
    %br/
