- if user_signed_in?
  - if @profile.user == current_user
    %p#official-m
      = link_to "See What you've Sent to Others(Anonymous Sent Items.)", current_user

    .form-style-4-white
      #posts_mobile
        .form-style-user-m
          %p#official-m
            Name: #{@profile.user.name}
          %p#official-m
            Your Profile Link: insecret.me/#{@profile.line1}
          %p#official-m
            Profile Picture:
            = image_tag(@profile.user.image.url(:small), class: "img-circular")
        %p#official-m
          = link_to "Edit Your Profile Link.", edit_profile_path(@profile)
        .form-style-upload-profile-m
          = simple_form_for @profile.user do |f|
            .form-inputs
              %h1= f.input :image, label: "Change Profile Picture from here:", :input_html => {class: 'login3-m'}
              = submit_tag "Change Now", name: nil, class: "button-m4"

      %h1 See all Posts, Honest feedbacks and Messages you've received anonymously from People here. Reply them.
      #posts-mobile
        - @profile.posts.each do |post|
          .post
            .post_image
              - if post.image.present?
                = link_to (image_tag post.image.url(:small)), post
              - else
                %h1= link_to post.line1, post
            .post_content
              .data.clearfix
                %p.username
                  #{time_ago_in_words(post.created_at)} ago.
                %p.username2
                  = link_to "Delete", post_path(post), method: :delete, data: { confirm: "You want to Delete. Are you sure?" }

  - else
    .form-style-user-m
      %p#official-m Name: #{@profile.user.name}
      %p#official-m Profile Link: insecret.me/#{@profile.line1}
      %p#official-m
        Profile Picture:
        = image_tag(@profile.user.image.url(:small), class: "img-circular")
    %h1 Send anything you want(Photos, Honest Feedbacks, Messages, Rumours or Ask Questions) Anonymously to #{@profile.user.name} from below.
    .form-style-send-post-m
      = simple_form_for([@profile, @profile.posts.build]) do |f|
        = f.error_notification
        %h1= f.input :line1, label: "Write and Send Message/Feedback/Question/Rumour:", placeholder: "Write Honest Feedback, Send Message, Send Rumour or Ask a Question you want to know.", :input_html => {class: 'login5-m'}
        = submit_tag "Send Now!", class: 'button-m3'
    .form-style-send-post2-m
      = simple_form_for([@profile, @profile.posts.build]) do |f|
        = f.error_notification
        %h1= f.input :image, label: "Upload and Send Photo/Post from below:", input_html: { class: 'login3-m' }
        = f.input :line1, label: false, placeholder: "Write Photo/Post Caption.", input_html: { class: 'login4-m' }
        = submit_tag "Send Now!", class: 'button-m3'

    %h1 See what you've Sent to #{@profile.user.name} here below:
    #posts-mobile
      - @profile.posts.each do |post|
        - if post.user == current_user
          .post
            .post_image
              - if post.image.present?
                = link_to (image_tag post.image.url(:small)), post
              - else
                %h1= link_to post.line1, post
            .post_content
              .data.clearfix
                %p.username
                  Sent.
                %p.username2
                  = link_to "Delete", post_path(post), method: :delete, data: { confirm: "You want to Delete. Are you sure?" }

- else
  .form-style-user-m
    %p#official-m Name: #{@profile.user.name}
    %p#official-m Profile Link: insecret.me/#{@profile.line1}
    %p#official-m
      Profile Picture:
      = image_tag(@profile.user.image.url(:small), class: "img-circular")
  %h1 Send anything you want(Photos, Honest Feedbacks, Messages, Rumours or Ask Questions) Anonymously to #{@profile.user.name} from below.
  .form-style-send-post-m
    = simple_form_for([@profile, @profile.posts.build]) do |f|
      = f.error_notification
      %h1= f.input :line1, label: "Write and Send Message/Feedback/Question/Rumour:", placeholder: "Write Honest Feedback, Send Message, Send Rumour or Ask a Question you want to know.", :input_html => {class: 'login5-m'}
      = submit_tag "Send Now!", class: 'button-m3'
  .form-style-send-post2-m
    = simple_form_for([@profile, @profile.posts.build]) do |f|
      = f.error_notification
      %h1= f.input :image, label: "Upload and Send Photo/Post from below:", input_html: { class: 'login3-m' }
      = f.input :line1, label: false, placeholder: "Write Photo/Post Caption.", input_html: { class: 'login4-m' }
      = submit_tag "Send Now!", class: 'button-m3'
