- if user_signed_in?
  - if @profile.user == current_user
    %p#official
      = link_to "Add your Location & All other Games related information from this link:", edit_profile_path(@profile)
            
    .form-style-4-white
      #posts
        .form-style-user
          %p#official
            Name: #{@profile.line2}
          %p#official
            Profile Picture:
            = image_tag(@profile.user.image.url(:small), class: "img-circular")
        .form-style-upload-profile
          = simple_form_for @profile.user do |f|
            %h4= f.error_notification
            .form-inputs
              %h4= f.input :image, label: "Change Profile Picture from here:", :input_html => {class: 'login6'}
              = f.button :submit, "Change Profile Picture", class: 'btn-lg btn-default'
              
      %p#official Gender: #{@profile.line3}
      %p#official Location: #{@profile.line11}
      %p#official Games You Play: #{@profile.line12}
      %p#official Your In-Game Names & ID Numbers: #{@profile.line13}
      %p#official Games Statistics: #{@profile.line14}
      %p#official Other Social Media details: #{@profile.line15}

  - else    
    .form-style-user
      %p#official Name: #{@profile.line2}
      %p#official
        Profile Picture:
        = image_tag(@profile.user.image.url(:small), class: "img-circular")
    %p#official Gender: #{@profile.line3}
    %p#official Location: #{@profile.line11}
    %p#official Games Playing: #{@profile.line12}
    %p#official In-Game Names & ID Numbers: #{@profile.line13}
    %p#official Games Statistics: #{@profile.line14}
    %p#official Other Social Media details: #{@profile.line15} 
    
    .form-style-send-post
      = simple_form_for([@profile, @profile.posts.build]) do |f|
        = f.error_notification
        %h3= f.input :line1, label: "Send Message to Start Conversation:", placeholder: "Write here & Click on Send button to Send Message.", :input_html => {class: 'login5'}
        = f.button :submit, "Send Message", class: 'btn-lg btn-default'  

- else
  %p#official Please SignUp or Login to view This User's Profile. You're not allowed to see it without Sign In.
