%p#instavoto2
  IF YOU DON'T HAVE AN ACCOUNT: #{link_to "SIGN UP", new_user_registration_path}
  %br/
.form-style-login
  %h2 LOG IN OR SIGN IN:
  %h4 *Your E-Mail ID will be always used for Login. So Choose the E-Mail ID you use Everywhere.
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
      %h4= f.input :email, label: "E-Mail ID:", required: false, autocomplete:true, autofocus: true, placeholder: 'Type Your E-Mail ID.', input_html: { class: 'login' }
      %h4= f.input :password, label: "Password:", required: false, placeholder: 'Type your Password for secure Login.', input_html: { class: 'login' }
      %h4= f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions
      = f.button :submit, "Sign In", class: 'btn-lg btn-default'
