- if user_signed_in?
  - if @user == current_user
    %p#official
      = link_to "See Your Inbox(Received Anonymous Posts, Feedbacks & Messages).", @user.profile
    %p#official
      = link_to "Edit Your Profile Link.", edit_profile_path(@user.profile)

    .form-style-4-white
      #posts
        .form-style-user
          %p#official
            Name: #{@user.name},
            Your Profile Link: instasecret.me/#{@user.profile.line1}
          %p#official
            Profile Picture:
            = image_tag(@user.image.url(:small), class: "img-circular")
        .form-style-upload-profile
          = simple_form_for @user do |f|
            %h4= f.error_notification
            .form-inputs
              %h4= f.input :image, label: "Change Profile Picture from here:", :input_html => {class: 'login6'}
              = f.button :submit, "Upload Profile Picture", class: 'btn-lg btn-default'

      %h3 See what Posts, Messages and Anonymous Feedbacks you've sent to Everyone:
      #posts
        - @user.posts.each do |post|
          .post
            .post_image
              - if post.image.present?
                = link_to (image_tag post.image.url(:small)), post
              - else
                %h2= link_to post.line1, post
            .post_content
              .data.clearfix
                %p.username
                  Sent to #{post.profile.user.name}.
                %p.username2
                  = link_to "Delete", post_path(post), method: :delete, data: { confirm: "You want to Delete. Are you sure?" }

  - else
    %h3 Sorry But this page doesn't exit.
- else
  %h3 Sorry But this page doesn't exit.
