- if user_signed_in?
  - if @user == current_user
    %p#official-m
      = link_to "Go back to Profile.", @user.profile

      %h1 See what Posts, Messages and Anonymous Feedbacks you've sent to Others:
      #posts-mobile
        - @user.posts.each do |post|
          .post
            .post_image
              - if post.image.present?
                = link_to (image_tag post.image.url(:small)), post
              - else
                %h2= link_to post.line1, post
            .post_content
              .data.clearfix
                %p.username
                  Sent to #{post.profile.user.name}.
                %p.username2
                  = link_to "Delete", post_path(post), method: :delete, data: { confirm: "You want to Delete. Are you sure?" }

  - else
    %h3 Sorry But this page doesn't exit.
- else
  %h3 Sorry But this page doesn't exit.
