- if user_signed_in?
  - if @user == current_user
    %p#official-m
      = link_to "See Your Inbox(Received Anonymous Posts, Feedbacks & Messages).", @user.profile

    .form-style-4-white
      #posts-mobile
        .form-style-user-m
          %p#official-m
            Name: #{@user.name}
          %p#official-m
            Your Profile Link: instasecret.me/#{@user.profile.line1}
          %p#official-m
            Profile Picture:
            = image_tag(@user.image.url(:small), class: "img-circular")
      %p#official-m
        = link_to "Edit Your Profile Link.", edit_profile_path(@user.profile)

      %h1 See what Posts, Messages and Anonymous Feedbacks you've sent to Everyone:
      #posts-mobile
        - @user.posts.each do |post|
          .post
            .post_image
              - if post.image.present?
                = link_to (image_tag post.image.url(:small)), post
              - else
                %h2= link_to post.line1, post
            .post_content
              .data.clearfix
                %p.username
                  Sent.
                %p.username2
                  = link_to "Delete", post_path(post), method: :delete, data: { confirm: "You want to Delete. Are you sure?" }

  - else
    %h1 Sorry But this page doesn't exit.
- else
  %h1 Sorry But this page doesn't exit.
