- if user_signed_in?
  - if @user == current_user
    %p#official
      = link_to "Go back to Profile.", @user.profile
      
      %h3 See Messages you've received:
      #posts
        - @user.profile.posts.each do |post|
          .post
            %h2= link_to post.line1, post
            .post_content
              .data.clearfix
                %p.username
                  Sent By #{post.user.profile.line2} (#{time_ago_in_words(post.created_at)} ago).
                %p.username2
                  = link_to "Delete", post_path(post), method: :delete, data: { confirm: "You want to Delete. Are you sure?" }
                  
      %h3 See Messages you've Sent to others:
      #posts
        - @user.posts.each do |post|
          .post
            %h2= link_to post.line1, post
            .post_content
              .data.clearfix
                %p.username
                  Sent to #{post.profile.user.profile.line2} (#{time_ago_in_words(post.created_at)} ago).
                %p.username2
                  = link_to "Delete", post_path(post), method: :delete, data: { confirm: "You want to Delete. Are you sure?" }

  - else
    %h3 Sorry But this page doesn't exit.
- else
  %h3 Sorry But this page doesn't exit.
