!!!
%html
%head
  %title InSecret - Send anything Anonymously to your Friends and Everyone. The best and most secure Anonymous Social Network of the world.
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"}
  = csrf_meta_tags
%body
  %header
    .wrapper.clearfix
      #logo= link_to "InSecret", root_path
      %nav
        - if user_signed_in?
          .dropdown2
            %button.dropbtn See Profile
            .dropdown2-content
              = link_to "Go to Your Profile", current_user.profile
              = link_to "See Sent Items", user_path(current_user)
              = link_to "Edit Your Account", edit_user_registration_path
          = link_to "Log out", destroy_user_session_path, :method => :delete
        - else
          = link_to "Sign in", new_user_session_path
          = link_to "Sign Up", new_user_registration_path

  %p.notice= notice
  %p.alert= alert
  .wrapper-m
    = yield
