%p#intro2
  ALREADY HAVE AN ACCOUNT?: #{link_to "SIGN IN", new_user_session_path}
  %br/
.form-style-signup
  %h2 SIGN UP OR REGISTER:
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    %h4= f.error_notification
    .form-inputs
      %h4= f.input :name, label: "Your Name:", required: true, autofocus: true, input_html: { class: 'login' }
      %h4= f.input :email, label: "Your E-Mail:", required: true, autofocus: true, input_html: { class: 'login' }
      %h4= f.input :password, label: "Password:(8 Characters minimum. Choose Strong Password.)", required: true, placeholder: 'Type Password.(Keep your Password Strong.)', input_html: { class: 'login' }
      %h4= f.input :password_confirmation, label: "Confirm Your Password Again for Security:", required: true, placeholder: 'Confirm Your Password to Sign Up Securely.', input_html: { class: 'login' }
    .form-actions
      = f.button :submit, "Sign Up", class: 'btn-lg btn-default'
